{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>hola</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/social-bar.css' %}">
    <link rel="icon" href="{% static '/img/html5.png' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/flexboxgrid.css' %}">
    <script src="https://kit.fontawesome.com/35796eb248.js"></script>
    <title> {% block title %} duoc {% endblock %}</title>
</head>

<body>
    <header>


    {% block header %}
   
   <div class="header" style="background: #2C3E50">
        <div class="center-xs logo">
            <a href="validaciones.html">
            
                <img class="img-fluid" alt="logo" src="{% static '/img/index/logo.png' %}">
                <!-- <h1 id="nombre-pag">Programan<b>2</b></h1> -->
            </a>
        </div>

        <div class="navegacion">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/HTML/index.html">
                        <i class="fa fa-home" aria-hidden="true"> Home</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cursos-online">
                        <i class="fa fa-comments" aria-hidden="true"> Cursos</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/HTML/testimonios.html#wrap">
                        <i class="fa fa-file-text" aria-hidden="true"> Testimonios</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">
                        <i class="fa fa-envelope" aria-hidden="true"> Contactos</i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/HTML/suscripcion.html">
                        <i class="fa fa-user" aria-hidden="true"> Nosotros</i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    {% endblock %}
    
    </header>


    {% block carousel %}
    
    <div class="container-fluid center-xs">

        <div id="carouselFadeExampleIndicators" class="carousel col-xs-12 slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item center-xs">
                    <img class="d-block w-100" src="{% static '/img/index/carousel1.png' %}" data-src="holder.js/900x400?theme=social" alt="First slide">
                </div>
                <div class="carousel-item active center-xs">
                    <img class="d-block w-100" src="{% static '/img/index/carousel2.png' %}" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>


    {% endblock %}

    {% block content %}
    
    <section id="galeria">
        <header class="headerr center-xs">
            <h2 id="cursos-online">Cursos Online Programan2</h2>
        </header>
        <article class="center-xs">
            <h2>
                HTML
            </h2>
            <figure>
                <a href=" # ">

                    <img style="height: 200px " alt="curso html " src="{% static '/img/cursos/html5.svg'%}" />
                    <p style="font-size:32px">Curso online de HTML5 </p>
                </a>
                <p> <i class="fa fa-eye"></i> 712 inscritos</p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                CSS
            </h2>

            <figure>
                <a href="#">
                    <img style="height: 200px " alt="curso css " src="{% static '/IMG/cursos/css-3.svg' %}" />
                    <p style="font-size:32px">Curso online de css </p>
                </a>
                <p> <i class="fa fa-eye"></i> 1200 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                JAVA SCRIPT
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso js " src="{% static '/img/cursos/js.svg' %}" />
                    <p style="font-size:32px">Curso online de js </p>
                </a>
                <p> <i class="fa fa-eye"></i> 1328 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                JAVA
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso Java " src="{% static '/img/cursos/java.svg'%}" />
                    <p style="font-size:32px">Curso online de java </p>
                </a>
                <p> <i class="fa fa-eye"></i> 2700 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                MySql
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso Mysql " src="{% static '/img/cursos/mysql.svg' %}" />
                    <p style="font-size:32px">Curso online de Mysql </p>
                </a>
                <p> <i class="fa fa-eye"></i> 514 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                NODE JS
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso nodeJS " src="{% static '/img/cursos/nodejs.svg' %}" />
                    <p style="font-size:32px">Curso online de nodejs </p>
                </a>
                <p> <i class="fa fa-eye"></i> 623 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                PHP
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso PHP " src="{% static '/img/cursos/php.svg' %}" />
                    <p style="font-size:32px">Curso online de php </p>
                </a>
                <p> <i class="fa fa-eye"></i> 821 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
            </figure>

        </article>
        <hr>
        <article class="center-xs">
            <h2>
                PYTHON
            </h2>

            <figure>
                <a href="# ">
                    <img style="height: 200px " alt="curso python " src="{% static '/img/cursos/piton.svg' %}" />
                    <p style="font-size:32px">Curso online de python </p>
                </a>
                <p> <i class="fa fa-eye"></i> 934 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
                <hr>
            </figure>


        </article>
        <hr>
        <article class="center-xs ">
            <h2>
                RASPBERRY
            </h2>



            <figure>
                <a href="#">

                    <img style="height: 200px " alt="curso raspberry" src="{% static '/img/cursos/raspberry-pi.svg'%} " />
                    <p style="font-size:32px">Curso online de raspberry </p>
                </a>
                <p> <i class="fa fa-eye"></i> 1032 inscritos </p>
                <button type="button" class="btn btn-dark" style="width: 80% ">IR AL CURSO</button>
                <hr>
            </figure>

        </article>

        <!-- [...] Aquí se irían repitiendo más elementos <article> con cursos-->


    </section>
     
    {% endblock %}


    {% block footer %}
   <hr>
    <div class="container center-xs" id="div-footer-prog">

        <img id="footer-tecnologias" src="{% static '/img/index/footer-tecnologias.png' %}" alt="lenguajes de programacion" class="img-fluid ">

    </div>

    <hr>

    <footer>
        <div id="footer">
            <div class="nav" id="fot-contacto">
                <h1 style="color:#fff" id="contacto">Contacto</h1>
                <div class="contact">
                    <div>
                        <p class="contacto" style="font-size: 25px">Santiago</p>
                        <p class="contacto">Alonso De Ovalle #1210</p>
                        <p class="contacto">Numero de contacto: +569-94492114</p>
                    </div>
                    <hr>
                    <hr>
                    <div>
                        <p class="contacto" style="font-size: 25px">EEUU</p>
                        <p class="contacto">Shelly Dr #2061</p>
                        <p class="contacto"> Numero de Contacto: <i class="fab fa-phone-office"></i> +502 (412)8-1968 </p>

                    </div>
                </div>
            </div>
            <hr>
            <div id="cursos">
                <h1 style="color:#fff">Cursos</h1>
                <a class="" href="#cursos-online">Curso html <i class="fab fa-html5" aria-hidden="true"></i> </a>
                <a class="" href="#cursos-online">Curso CSS <i class="fab fa-css3" aria-hidden="true"></i></a>
                <a class="" href="#cursos-online">Curso Java <i class="fab fa-java"></i></a>
                <a class="" href="#cursos-online">Curso Python <i class="fab fa-python"></i></a>

            </div>
            <hr>


            <div class="" id="redes-sociales">
                <div>
                    <h1 style="color:#fff">Redes Sociales</h1>
                </div>

                <div class="">
                    <a href="https://www.facebook.com/Programan2-114805666567614/?modal=admin_todo_tour">
                        <i class="fab fa-facebook" aria-hidden="true"></i> Facebook
                    </a>

                </div>

                <div>
                    <a href="https://www.instagram.com">
                        <i class="fab fa-instagram" aria-hidden="true"></i> Instagram
                    </a>
                </div>

                <div>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter" aria-hidden="true"></i> Twitter
                    </a>
                </div>

                <div>
                    <a href="https://www.google.cl">
                        <i class="fab fa-google" aria-hidden="true"></i> Google+
                    </a>
                </div>
            </div>
            <hr>
        </div>

    </footer>

    <!--Social-Bar de Redes Sociales -->
    <div class="social-bar">
        <a href="#" class="icon icon-facebook2" target="_blank">
            <i class="fab fa-facebook-square" aria-hidden="true"></i>
        </a>

        <a href="#" class="icon icon-twitter" target="_blank">
            <i class="fab fa-twitter-square" aria-hidden="true"></i>
        </a>

        <a href="#" class="icon icon-youtube" target="_blank">
            <i class="fab fa-youtube-square" aria-hidden="true"></i>
        </a>

    </div>

    {% endblock %}


</body>

</html>