{% extends 'appProgramando/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="icon" href="{% static '/img/html5.png' %}"> 
    <script src="https://kit.fontawesome.com/35796eb248.js"></script>
    <link rel="stylesheet" href="{% static '/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <title>Listar Cursos full</title>

</head>

<body>
    {% block content %}



    <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
    </form>
    <ul>
    {% for curso in filter.qs %}
    <li>{{ curso.tipoCurso }} - {{ curso.nombre }}</li>
  {% endfor %}
  </ul>


    <h1>Listar Cursos</h1>
        
        
    <ul>
        {% for c in cursos %}
        <li>
            {{c.codigo}}, {{c.nombre}}, {{c.tipoCurso}}, {{c.valor}}  
            
        </li>
        {% endfor %}
    </ul>

    

    {% endblock %}
    
    

</body>
</html>