{% extends 'appProgramando/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static '/img/html5.png' %}"> 
    <script src="https://kit.fontawesome.com/35796eb248.js"></script>
    <link rel="stylesheet" href="{% static '/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">

    <title>Editar Usuario</title>
</head>
<body>
    <!-- header -->

{% block content %}
<!--    Codigo python  -->
    <h1>Editar Usuario</h1>
    <form method="POST">
        {{ form }}
        {% csrf_token %}
        <button type="submit"> Editar </button>

    </form>
<!--  Fin Codigo python  -->
 {% endblock %} 
 
</body>
</html>