{% extends 'appProgramando/base.html' %}
{% load staticfiles %}

</head>
<body>

{% block content %}
<!--    Codigo python  -->
    <h1>Usuarios Registrados</h1>
    
   
    <ul>
        {% for u in usuarios %}
        <li>
           Nombre de usuario: {{u.username}}, Email: {{u.email}}, Nombre: {{u.first_name}}, Apellido: {{u.last_name}} 
            <a href="/editarUsuario/{{ u.id }}">Editar</a>
            <a href="/borrarUsuario/{{ u.id }}"
            Onclick="return confirm('¿esta seguro de borrar?');"
            >Borrar</a>
        </li>
        {% endfor %}
    </ul>
    <!--  Fin Codigo python  -->
    {% endblock %}
    <!-- foooter -->

</body>
</html>