{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Listar Usuarios full</title>

</head>
<body>
    <h1>Listar Usuarios full</h1>
    <ul>
        {% for u in usuarios %}
        <li>
            {{u.nombreCompleto}}, {{u.rut}}, {{u.email}}, {{u.telefono}}, {{u.region}}, {{u.comuna}}, {{u.fechaNacimiento}}, {{u.tipoVivienda}} 
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>