{% extends 'appProgramando/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar Usuarios</title>
    <link rel="icon" href="{% static '/img/html5.png' %}"> 
    <script src="https://kit.fontawesome.com/35796eb248.js"></script>
    <link rel="stylesheet" href="{% static '/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">

</head>
<body>

{% block content %}
<!--    Codigo python  -->
    <h1>Usuarios Registrados</h1>
    
   
    <ul>
        {% for u in usuarios %}
        <li>
           {{u.nombreCompleto}}, {{u.rut}}, {{u.email}}, {{u.telefono}}, {{u.region}}, {{u.comuna}}, {{u.fechaNacimiento}}, {{u.tipoVivienda}} 
            <a href="/editarUsuario/{{ u.id }}">Editar</a>
            <a href="/borrarUsuario/{{ u.id }}"
            Onclick="return confirm('¿esta seguro de borrar?');"
            >Borrar</a>
        </li>
        {% endfor %}
    </ul>
    <!--  Fin Codigo python  -->
    {% endblock %}
    <!-- foooter -->

</body>
</html>